.up {
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    position: relative;
    color: white;

    .box {
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }

    .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    span {
        color: #23466c;
        font-size: 21px;
        margin-top: 100px;
    }

    h3 {
        font-size: 65px;
        width: 800px;
    }

    p {
        width: 675px;
        font-size: 23px;
        line-height: 30px;
    }

    .btns {
        display: flex;
        gap: 15px;
    }
}

.up::before,
.up::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background: url("../objectPic/up/upback.png");
    background-size: 150% 150%;
    background-repeat: no-repeat;
}

.up::after {
    left: 0%;
    background-position: 185% 55%;
}

.up::before {
    right: 0%;
    background-position: -60% 55%;
}

.but1,
.but2 {
    border: 1px solid white;
    color: white;
    cursor: pointer;
    padding: 15px 35px;
    border-radius: 25px;
    font-size: 17px;
    text-transform: uppercase;
    background: transparent;
}

.but1 {
    background: linear-gradient(
        to right,
        #6F01C5, black 
    );
    border: none;
}

.but2{
    box-shadow: 1px 1px 7px white;
}

.but1:active{
    background: linear-gradient(
        to right,
        black ,#6F01C5
        );
}

.but2:active{
  box-shadow: none;
}